name: Trigger Terraform Cloud Run

on:
  workflow_dispatch:

jobs:
  trigger-tfc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Trigger Terraform Cloud Run
        run: |
          curl \
            --header "Authorization: Bearer ${{ secrets.TF_API_TOKEN }}" \
            --header "Content-Type: application/vnd.api+json" \
            --request POST \
            --data '{
              "data": {
                "attributes": {
                  "is-destroy": false,
                  "message": "Triggered by GitHub Actions"
                },
                "type": "runs",
                "relationships": {
                  "workspace": {
                    "data": {
                      "type": "workspaces",
                      "id": "org-nP8b31mSCMiiY7ZZ"
                    }
                  }
                }
              }
            }' \
            https://app.terraform.io/api/v2/runs